/* styling av dropdown kanppen */
.dropbtn {
    background-color: none;
    color: none;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Färgen ändras när man har muspekaren över menyn */
.dropbtn:hover, .dropbtn:focus {
    background-color: #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Förklarar hur innehållet i menyn ska se ut */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: none;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*  Förklarar hur texten i innehållet ska se ut */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown a:hover {
    background-color: none;
}

/* Elementet som gör att innehållet droppar ned i blockformat */
.show {
    display: block;
}

/* Justerar min menybild */
.bild{
    height: 50px;
    width: 50px;
}

/* Stylar hur ligalänkarna ska vara */
.ligor{
    list-style-type: none;
    list-style: none;
}

/* Stylar bakgrunden på arsenal.html */
.body1 {
    background-image: url('img/arsenal.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

/* Fixar med hur textens storlek förhåller sig när skärmen krymper */
p {
    font-size: 2.5vw;
  }
  h1 {
    font-size: 5vw;
  }
  h2{
    font-size: 3.5vw;
  }
  h3{
    font-size: 2.5vw;
  }

  /* Fixar med den delen som dyker upp när man klickar på menyn t.ex. hur mycket playts den tar upp, hur snabbt den dyker upp mm */
  .sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  /* Fixar med hur texten i menyn ska se ut */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* färgen på innehållet i menyn när man har muspekaren över */
  .sidebar a:hover {
    color: #f1f1f1;
  }

  /* Reglerar storleken på stängknappen, hur mycket utrymme det ska vara efter stängknappen */
  .sidebar .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 26px;
    margin-left: 50px;
  }
  
  /* fixar med hur menyknappen ser ut */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
   
    color: white;
    padding: 10px 15px;
    border: none;
  }

  /* Hur ljus skuggan när man har muspekaren över ska vara */
  .openbtna:hover {
    background-color: #444;
  }

  /* hur snabbt texten utöver menyn flyttar på sig och hur mycket utrymme det ska vara emellan */
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  